body {
    text-align: center;  /* for IE */
    background-color: white;
}

.imagetitle {
    font-size: 20pt;
    font-family: 'Graduate', cursive;
}
.team_Member {
    margin: 20px 20px 20px 20px;
    border: 5px solid #333;
    overflow: auto;
    padding: 5px;

}
.teamPicture {
    float: left
}
.teamPicture img {
    display: block
}
.teamAbout {
    margin-left: 210px
}
.memberName {
    font-weight: bold;
    font-size: 200%
}

div#wrapper {
    text-align:left; /* reset text alignment */
    width:980px; /* or a percentage, or whatever */
    margin:0 auto; /* for the rest */
    margin-top: 40px;
    border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    -webkit-border-radius: 15px 0px 15px 0px;
}

#curdate {
    float:center;
    margin-top: -20px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 10pt;
}

#navbar {
    background-color: #393D3F ;
    padding: 5px 10px;
    border-radius: 15px 0 0 0;
    -moz-border-radius: 15px 0 0 0;
    -webkit-border-radius: 15px 0px 0 0;
    clear: right;
    text-align: center;
    font-size: 16px;
    text-align: left;

}

#navbarWELCOME {
    float: right;
    background-color: #393D3F ;
    padding: 5px 10px;
    border-radius: 15px 0 0 0;
    -moz-border-radius: 15px 0 0 0;
    -webkit-border-radius: 15px 0px 0 0;
    clear: right;
    font-size: 16px;
}

#navbar a {
    color: white;
    text-decoration:none;
    font-family: 'Monoton', cursive;
}

#navbar a:hover,
#navbar a:active,
#navbar a:focus
{
    color: white;
}
#footer {
    height: 60px;
    width: 980px;
    margin:0 auto;
    font-size:16px;
    color:#848FA5 ;
    text-align: center;
    padding-top: 20px;
    background-color:#393D3F ;
    border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
}

#banner {
    background-color: white;
    padding: 5px;
    width: 100%;
}

#banner img {
    width: 800px;
    border: none;
}

#maintitle {
    color: white;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}

#subtitle {
    color: #3C0;
    font-size: 14pt;
    font-weight: bold;
    font-style: 'Pacifico', cursive;
}


/* styles of the shopping card */
#shoppingcart {
    width: 90px;
    height: 80px;
    text-align: center;
    background-color:#C98CA7 ;
    padding-top: 10px;
    border-radius: 30px;
}


#shoppingcart a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

#shoppingcart img {
    width: 50px;
    border: none;
}

#shoppingcart span {
    display: block;
}

/* styles for the main content body */
#mainbody {
    padding: 10px;
    background-color: #393D3F ;
}

#mainbody a {
    text-decoration: none;
    color:#393D3F ;
}

#mainbody a:hover,
#mainbody a:active,
#mainbody a:focus
{
    text-decoration: underline;
    color: #FF9A35 ;
}


/* styles of the book list table */
table.albumlist {
    width: 100%;
    border-collapse: collapse;
    font-size: 20pt;
    font-family: proxima-nova, sans-serif;
    margin: 5px 0;
    background-color: rgba(8, 8, 8, 0.14);
}

table.albumlist td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    vertical-align: top;
}
table.albumlist td.col1 {
    width: 5px;
}

table.albumlist th.col2 {
    width: 800px;
}



table.albumlist tr:nth-child(even) {
    background-color: #d0d0d0 ;
}

/* styles of the book details table */
table.albumdetails {
    width: 100%;
    border-collapse: collapse;
    font-size: 20pt;
    font-family: proxima-nova, sans-serif;
    margin: 5px 0;
    background-color: white;
}

table.albumdetails td {
    vertical-align: top;
}

table.albumdetails h4, table.albumdetails p {
    margin: 0px 0px 5px 10px;
}

table.albumdetails td.col1 {
    width: 180px;
}

table.albumdetails td.col1 img {
    width: 160px;
}

table.albumdetails td.col2 {
    width: 100px;
}

table.albumdetails td.col3 {
    width: 600px;
}

table.albumdetails td.col4 {
    padding-left: 25px;
    vertical-align: top;
}

table.albumdetails td.col4 img{
    border: none;
    width: 100px;
}


/*styles for action buttons */
.bookstore-button input{
    width: 75px;
}

.bookstore-button.delete-confirmed {
    display: none;
}

.bookstore-button.delete-initial span,
.bookstore-button.delete-confirmed span {
    color: red;
    font: 12px/18px Arial, Sans-serif;
    display: inline-block;
    margin-left: 40px;
}


/*styles for login and registration forms*/
div.login-container {
    vertical-align: top;
}

div.login-container div.login {
    vertical-align: top;
    width: 400px;
    margin-right: 50px;

}
div.login-container div.registration {
    vertical-align: top;
    border-left: 1px solid black;
    padding-left: 100px;
}

div.login-container div {
    display: inline-block;
    margin-bottom: 50px;
}

/* styles of filters */
#filter {
    font: 12px/18px Arial, Sans-serif;
}


/* styles of table pagination */
.paginate_button,
.paginate_button:hover{
    font-size:12px;
    line-height:20px;
    min-width: 12px;
    border: 1px solid #cacaca !important;
    border-left: none !important;
    padding: 0 7px !important;
    margin: 0 !important;
}

.paginate_button.previous,
.paginate_button.previous:hover {
    border-left: 1px solid #cacaca !important;
    border-radius: 3px 0 0 3px;
}

.paginate_button.next,
.paginate_button.next:hover {
    border-right: 1px solid #cacaca !important;
    border-radius: 0 3px 3px 0;
}

.paginate_button.disabled {
    border: 1px solid #AAA !important;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
    /* W3C */
}

.dataTables_info {
    padding-top: 0 !important;
    font: 12px/18px Arial, Sans-serif;
}

/* styles of table sorter */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
table.dataTable thead .sorting_asc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    background-color: #d0e6fb !important;
}
table.dataTable thead .sorting_desc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    background-color: #d0e6fb !important;
}

.bioText {
    width: 100%;
    border-collapse: collapse;
    font-size: 16pt;
    font-family: proxima-nova, sans-serif;
    margin: 5px 0;
    text-indent: 50px;
}
